/*
 ========== OVERAL ==========
 */
.body_customized {
	width: 90%;
	margin: 0 auto;
}

.form_inline_customize {
	display: inline;
}

.message {
	width: 90%;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 0 !important;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.ui.comments {
	max-width: none !important;
}

.action.group form {
	margin-right: 38.52px;
}

/*
 ========== NAVIGATION ==========
 */
#navigation {
	border-radius: 0 !important;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#navigation > div {
	height: 42px !important;
}

#navigation_margin {
	height: 100px;
	width: 100%;
}

#user{
	height:42px;
}

.icon_customized {
	margin-left: 5px !important;
}

.filter_customized {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
	opacity: 0.9;
}


/*
 ========== WALLS - Index ==========
 */
#walls {
	padding: 14px;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 0.3em;
}

#walls .twitter {
	margin-left: 5px;
	margin-right: 0px;
}

.search {
	float: right;
	margin-bottom: 14px;
}

/*
 ========== WALLS - View ==========
 */
.ui.progress .bar{
	display: inline-block;
	position: absolute;
	height: 100%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

button.choiceButton.ui.icon.button{
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


/*
 ========== FOOTER ==========
 */
footer {
	margin-top: 30px;
	height: 3em;
	color: white;
	background: black;
	text-align: center;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}

footer p {
	line-height: 3em;
}

#footer_margin {
	height: 5em;
	content: "";
	display: table;
	clear: both;
}
