.messagesContainer {
    width:80%;
}

.message .panel-heading h4 {
    margin: 0;
}

.message .panel {
    margin-bottom: 10px;
}

.answer {
    color: #000;
}

.active {
    background-color: #f5f5f5;
    color: #000;
}

.message form {
    margin:0;
}

.message input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 3px;
}

.message form button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    margin: auto;
    margin-right: -1px;
}

.message .list-group {
    margin: 0;
}

.choiceContainer {
    margin: auto;
    background-color: #fff;
}

.choiceContainer .progress-bar {
    color: #333;
}

.btn.vote {
    padding: 4px;
}

textarea {
    resize: none;
}

.pollForm textarea {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.submitButton {
    margin-top: 5px;
}

.submitButton input {
    border-radius: 3px;
    margin:0;
}


/*
    Color constants

    Darkgreyred:    #382426;
    Hazelnut Brown: #e2b579
    Candy Apple:    #ED1F24
    Cloudy:         #f0f5f7
    Snow:           #fff
*/